/* Starter css */
html {
  font-size: 10px;
  margin: 0;
  font-family: 'my-font', sans-serif;
}

body {
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}

/* project css */

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.main-sidebar {
  grid-column: 1 / 2;
  background-color: blue;
}

.main-sidebar h2 {
  padding-left: 40px;
}

main {
  grid-column: 2 / 3;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

header {
  display: grid;
  grid-template-rows: 50px 80px;
  padding-top: 10px;
}

.header-search {
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-around;
}


.header-upload{
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
}


.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cards{
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 200px;
  justify-items: center;
  gap: 10px;
}


.sides {
  grid-column: 2 / 3;
}

.card {
  width: 300px;
  height: 150px;
  padding: 10px;   
}