/* Starter css */
html {
  font-size: 10px;
  margin: 0;
  font-family: 'my-font', sans-serif;
}

body {
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}

html {
  font-family: "Roboto", "Montserrat", system-ui;
}

/* project css */
body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* sidebar */
.main-sidebar {
  min-height: 100vh;
  grid-column: 1 / 2;
  background-color: #1992d4;
}

.main-sidebar > nav {
  display: grid;
  grid-template-rows: repeat(auto-fil, minmax(150px, 2fr));
  gap: 20px;
}

.main-sidebar li{
  padding-top: 7px;
}

.main-sidebar a{
  font-size: 2rem;
}

.main-sidebar h2 {
  color: white;
  align-content: center;
  padding-left: 10px;
}

.dashboard-header {
  padding-left: 30px;
}

.main-sidebar li, .dashboard-header {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.main-sidebar .dashboard-header svg {
  height: 50px;
}

.main-sidebar svg{
  grid-column: 1 / 2;
  height: 30px;
}

.main-sidebar a, .main-sidebar h1{
  grid-column: 2 / 3;
}


main {
  grid-column: 2 / 3;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* header */
header {
  display: grid;
  grid-template-rows: 80px 120px;
  box-shadow: 0px 5px 5px grey;
  height: 22vh;
}

.header-search {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
  width: 80%;
  background-color: #E2E8F0;
}

.left-search {
  display: grid;
  grid-template-columns: 40px auto;
  grid-auto-flow: column;
  align-items: center;
  grid-column: 1 / 2;
  padding-left: 30px;
}

.left-search > svg {
  height: 28px;
}

.right-search img {
  border-radius: 50%;
}

.right-search {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50px 50px auto;
  grid-column: 2 / 3;
  gap: 20px;
  align-items: center;
}

.right-search h3{
  font-size: 2rem;
}

.right-search svg {
  height: 28px;
}

.header-upload{
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.left-upload {
  display: grid;
  grid-template-columns: 90px auto;
  gap: 10px;
  padding-left: 30px;
  align-items: center;
}

.left-upload > img {
  grid-column: 1 / 2;
  border-radius: 50%;
}
.left-upload > .left-upload-text {
  grid-column: 2 / 3;
}

.left-upload-text {
  display: grid;
  grid-template-rows: 45px 45px;
  align-items: end;
}

.left-upload-text p {
  align-self: start;
  font-weight: 700;
}

.right-upload {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.right-upload > button {
  background-color: #1992d4;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 1.5rem;
}

/* content */
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #E2E8F0;
  min-height: 78vh;
}

.projects h1 {
  padding-left: 100px;
}

.cards{
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 200px;
  justify-items: center;
  gap: 10px;
}


.sides {
  grid-column: 2 / 3;
  padding-right: 50px;
}

.card {
  width: 350px;
  height: 150px;
  padding: 20px;   
  background-color: white;
  border-left: 10px solid #1992D4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  display: grid;
  font-size: 1.5rem;
}

.card:hover {
  box-shadow: 5px 5px 5px #1992D4;
  width: 355px;
  height: 155px;
}

input:focus{
  background-color: #bfe2f5;
}
.card svg {
  height: 28px;
}

.card-down {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 20px;
}

.announcements {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  font-size: 1.2rem;
}

.announcements-card {
  border-bottom: 1px solid grey;
}

.announcements-card:last-child {
  border-bottom: none;
}

.trending {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

.trending-card {
  display: grid;
  grid-template-columns: 55px auto;
  align-items: center;
}

.trending-card h3 {
  margin-bottom: 5px;
}

.trending-card p {
  margin-top: 5px;
}
.trending img {
  border-radius: 50%;
}

button:hover, a:hover {
  color: orange; 
}