/* Starter css */
html {
  font-size: 10px;
  margin: 0;
  font-family: 'my-font', sans-serif;
}

body {
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}

/* project css */

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* sidebar */
.main-sidebar {
  height: 100vh;
  grid-column: 1 / 2;
  background-color: blue;
}

.main-sidebar > nav {
  display: grid;
  grid-template-rows: repeat(auto-fil, minmax(150px, 2fr));
  gap: 20px;
}

.main-sidebar li{
  padding-top: 7px;
}

.main-sidebar a{
  font-size: 2rem;
}

.main-sidebar h2 {
  color: white;
  align-content: center;
  padding-left: 10px;
}

.dashboard-header {
  padding-left: 30px;
}

.main-sidebar li, .dashboard-header {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.main-sidebar .dashboard-header svg {
  height: 50px;
}

.main-sidebar svg{
  grid-column: 1 / 2;
  height: 30px;
}

.main-sidebar a, .main-sidebar h1{
  grid-column: 2 / 3;
}


main {
  grid-column: 2 / 3;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

header {
  display: grid;
  grid-template-rows: 50px 80px;
  padding-top: 10px;
}

.header-search {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
}



input {
  height: 30px;
  border-radius: 10px;
  border: none;
  width: 80%;
  background-color: rgb(235, 231, 231);
}

.left {
  display: flex;
  align-items: center;
  grid-column: 1 / 2;
  padding-left: 30px;
}

.left > svg {
  height: 30px;
}

.right img {
  border-radius: 50%;
}

.right {
  display: flex;
  grid-column: 2 / 3;
  gap: 20px;
  align-items: center;
}

.right h3{
  font-size: 2rem;
}

.right svg {
  height: 30px;
}

.header-upload{
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cards{
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 200px;
  justify-items: center;
  gap: 10px;
}


.sides {
  grid-column: 2 / 3;
}

.card {
  width: 300px;
  height: 150px;
  padding: 10px;   
}